{% extends 'base.html' %}

{% block content %}
  <form method="POST" action="{{ url_for('edit', entry_id=entry.id) }}">
    <div class="input-group mb-4">
      <span class="input-group-text">https://</span>
      <input type="text" name="source" id="source" class="form-control form-control-lg" placeholder="source" value="{{ entry.source }}" required>
    </div>
    <div class="input-group mb-4">
      <input type="text" name="name" id="name" placeholder="description" class="form-control form-control-lg" value="{{ entry.name }}" required>
    </div>
    <div class="input-group mb-4">
      <textarea name="code" id="code" class="form-control form-control-lg" placeholder="code" required>{{ entry.code }}</textarea>
    </div>
    <div>
      <input type="submit" value="Save" class="btn btn-primary btn-lg btn-block mb-4">
    </div>
  </form>
{% endblock %}